#carouselExampleCaptions {
    border: 3px solid gray; /* Ändra färg och tjocklek vid behov */
    border-radius: 10px; /* Rundade hörn för en snyggare look */
    padding: 10px; /* Lägger lite space mellan border och innehåll */
}

.carousel-item img {
    width: 100%;        /* Gör bilderna full bredd av förälderelementet */
    height: 480px;      /* Sätt en fast höjd */
    object-fit: contain;/* Gör att hela bilden är synlig utan att förlora proportionerna */
}